* {
    margin: 0;
    padding: 0;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6d6e72;
    height: 50%;
    width: 50%;
    top: 200px;
    left: 400px;
    border-radius: 10px;
    position: absolute;
}

.notes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
}

.Note {
    color: #c5c6c7;
    cursor: pointer;
    border: 1px solid black;
    width: 20%;
    align-self: center;
    margin: 3px;
    border-radius: 10px;
}

.Note:after {
    padding: 10px;
}

.Note:hover {
    font-size: 25px;
}

.textDiv, .Header {
    padding: 10px;
    color: #adafb3;
}

.Content {
    overflow: auto;
    height: 100%;
    width: 100%;
}

input {
    background-color: #8e9297;
    border: solid #393939;
    box-shadow: 1px 2px;
    padding-left: 100px;
    color: #4d4d4d;
    border-radius: 10px;
}

input:focus {
    background-color: #f0fef0;
    border-radius: 10px;
}

button {
    padding: 3px;
    border-radius: 10px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn1, .btn2 {
    padding: 0px 5px 0px 0px;
    border-radius: 10%;
}

body {
    background-color: #4b4b4d;
    height: 100%;
}
